 <!--{% extends "bootstrap/base.html"%}-->
 <!DOCTYPE html>

  <html>
  <head>
    
    <meta charset="utf-8">

    {% if title %}
    <title>{{ title }} - Contacts Manager </title> 
    {% else %}
    <title> Contacts Manager </title>

    
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% endif %}
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">CM App</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           <ul>
              {% for messages in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        {% endwith%}
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            
          </ul>
        </nav></strong>

      </div>
      </header>
      <div class="sidebar-nav">
      {% block navbar %}
      {% endblock %}
    </div>
     
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
  </body>
</html> -->

{%block title%}
Contacts Manager
{%endblock title%}
