
<!DOCTYPE html>

    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""> <img alt="Icta Logo" src="../img/logo20.png" class="hidden-xs"/>
                <span>Admin Panel</span></a>

            <!-- user dropdown starts -->
             <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="height:40px;width:200px">
            <p> Welcome <a href=""> 
			
			
			
							     </button>
                 
				  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      
						  
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="changepassword.php">Change Password<span class="pull-right"></span></a></li>
                          <li class="divider"></li>
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="../logout.php">Log Out <span class=" pull-right"></span></a></li>
					</ul>
                   
							 
				   </div>
            <!-- user dropdown ends -->
			
			 <div class="btn-group pull-right">
               <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                    <a href="#"> <i class="glyphicon glyphicon-envelope green"></i></a>	                   
                </ul>
               
            </div>

           

            

        </div>
		 </div>
		
		 <div class="navbar " role="navigation">
		 
		  <ul class=" nav navbar-nav top-menu">
                <li><a class="ajax-link" href="admin.php"><span> Dashboard</span></a>
                        </li> 
                <li class="dropdown">
                   
					<a href="manageusers.php" data-toggle="dropdown">Manage users <span
                            class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="manageusers.php">Add users</a></li>
                                <li><a href="viewusers.php">View users</a></li>                                               
                                <li><a href="#"></a></li>
                            </ul></li>
							<li class="dropdown">
                            <a href="#" data-toggle="dropdown">Trainees <span
                            class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="Traineedetails.php">Trainee Details</a></li>
                                <li><a href="placement.php">Ministry placement</a></li>
                                <li><a href="privatesector.php">Private sector placement</a></li>                        
                                <li><a href="activity.php">Activities</a></li>
								<li><a href="kin.php">Next of Kin Details</a></li>
								<li><a href="medical.php">Medical Details</a></li>
                            </ul>
                        </li>
					
					<li class="dropdown">
                            <a href="#" data-toggle="dropdown">Teams <span
                            class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="infosec.php">Information Security</a></li>
                                <li><a href="application.php">Application</a></li>
                                <li><a href="network.php">Networks</a></li>                        
                                <li><a href="project.php">Project Management</a></li>
                            </ul>
                        </li>
						<li class="dropdown">
                            <a href="#" data-toggle="dropdown">Mentors<span
                            class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="mentors.php">Mentor Details</a></li>
                                <li><a href="assign.php">Assign mentee</a></li>
                                <li><a href="mentormeeting.php">Meeting Reports</a></li>                        
                            </ul>
                        </li>
                        
					<li class="dropdown">
                            <a href="#" data-toggle="dropdown">Assessments <span
                            class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
							    <li><a href="monthlyassess.php">Monthly assessments</a></li>
                                <li><a href="quarter.php">Quarterly assessments</a></li>
								<li><a href="year.php">yearly assessments</a></li>
                            </ul>
                        </li>
					                        
                   <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Trainings <span
                            class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="addtraining.php">Add Training</a></li>
								<li><a href="upcom.php">Upcoming Trainings</a></li>
                                <li><a href="calendar.php">Training calendar</a></li>
                            </ul>
							
                        </li>
						 <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Innovation <span
                            class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="individual.php">Individual Innovation</a></li>
								<li><a href="team.php">Team Innovation</a></li>
                            </ul>
							
                        </li>
						
                    
					<li class="dropdown">
                            <a href="#" data-toggle="dropdown">Reports <span
                            class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="monthly.php">Monthly </a></li>
                                <li><a href="quarterly.php">Quartely </a></li>
                                <li><a href="yearly.php">Yearly</a></li>
								
                            </ul>
                        </li>
						
						 <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Documents<span
                            class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="upload.php">Upload Documents</a></li>
								<li><a href="viewfiles.php">See all files</a></li>
                            </ul>
							
                        </li>
						<li class="dropdown">
                            <a href="#" data-toggle="dropdown">Partners<span
                            class="caret"></span></a>
                           <ul class="dropdown-menu" role="menu">
                                <li><a href="ministry.php">Ministries</a></li>
								<li><a href="sector.php">Private sector Organisations</a></li>
								
                            </ul>
							
                        </li>
							
							
						 <li><a class="ajax-link" href="asset.php"><span>Assets</span></a>
                        </li> 		
							
							
			</ul>
		 
    </div>  
    <!-- topbar ends -->
<?php } ?>
<div class="ch-container">
    <div class="row">
        <?php if (!isset($no_visible_elements) || !$no_visible_elements) { ?>

        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
						<li ><a href="#"></a></li>
                        <li><a class="ajax-link" href="admin.php"><span> Dashboard</span></a>
                        </li> 
						
		
                        
					 
                    </ul>
                    
                </div>
            </div>
        </div> 
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <?php } ?>

<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
</div>



<div class=" row">
    <div class="col-md-4 col-sm-4 col-xs-8 ">
        <a data-toggle="tooltip" title="users" class="well top-block"  href="viewusers.php">
            </br><i class="glyphicon glyphicon-user blue"></i>

            <div>Users</div>
            <div></div>
            
			
			
        </a>
	
    </div>

    <div class="col-md-4 col-sm-4 col-xs-8 ">
        <a data-toggle="tooltip" title=" Assessments" class="well top-block" href="assessment.php">
            </br><i class="glyphicon glyphicon-list-alt blue"></i>

            <div> Assessments</div>
            <div></div>
            
        </a> 
    </div>
	
    <div class="col-md-4 col-sm-3 col-xs-6 ">
        <a data-toggle="tooltip" title="reports" class="well top-block"  href="monthly.php">
           </br> <i class="glyphicon glyphicon-book blue"></i>

            <div>Reports</div>
            <div></div>
            
			
			
        </a>
	
    </div>
	</div>
	</br>
	</br>
	</br>
<div class=" row">
    <div class="col-md-4 col-sm-3 col-xs-6 ">
        <a data-toggle="tooltip" title="trainings" class="well top-block" href="upcom.php">
           </br> <i class=" glyphicon glyphicon-certificate blue"></i>

            <div>Trainings</div>
            <div></div>
            
        </a>
    </div>
	
	
    <div class="col-md-4 col-sm-3 col-xs-6 ">
        <a data-toggle="tooltip" title="Total Mentees." class="well top-block"  href="activity.php">
           </br> <i class="glyphicon glyphicon-tasks blue"></i>

            <div>Trainee Activities</div>
            <div></div>
            
			
			
        </a>
	
    </div>

    <div class="col-md-4 col-sm-3 col-xs-6 ">
        <a data-toggle="tooltip" title="Pending Assessment." class="well top-block" href="individual.php">
           </br> <i class="glyphicon glyphicon-hdd blue"></i>

            <div>Innovations</div>
            <div></div>
            
        </a>
    </div>
	</div>
	</div>


