{% extends "base.html" %}
<html>
{% block title %}Index{% endblock %}
{% block head %}

{{ super() }}
<head>
    <title>Contacts Manager</title>
    <!--<link href="static/appicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "static/css/bootstrap.min.css" rel="stylesheet" media ="screen" >
    <link href = "static/css/bootstrap.css" rel="stylesheet" media ="screen" >
    <link href = "static/css/bootstrap.responsive.css" rel="stylesheet" media ="screen" >-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
 
    <script href="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}" src="javascript"></script>
    <script href="{{ url_for('static', filename='js/bootstrap.min.js') }}" src="javascript"></script>

    <link href="{{ url_for('static', filename='css/Style.css') }}" rel="stylesheet">
    
</head>
    <style>
    </style>
{% endblock %}
{% block body %}
<body>
    <br>

    {% block header %}
    <header>
      <div class ="navbar-header">
        

      
        <ul class = "nav nav-pills breadcrumb " role="tablist">
            <li role = "presentation" class = "active">
              <a href="#">Home<span class ="badge"></span></a>
            </li>
        <li role = "presentation" class = "">
              <a href="#">Profile<span class ="badge"></span></a>
            </li>

            <li role = "presentation" class = "">
              <a href="#">Companies<span class ="badge"></span></a>
            </li>
        </ul>
        <a class ="navbar-brand" href="/">
            <img style="max-width:50px; margin-top: 7px" src = "{{ url_for('static', filename='appicon.ico') }}"  >
        </a>

    

      </div>

    </header>
    {% endblock %}

    <div class="sidebar-nav">
    {% block sidebar %}


     <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2 pull-left">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> UI Features</span></a>
                        </li>
                        <li><a class="ajax-link" href="form.html"><i
                                    class="glyphicon glyphicon-edit"></i><span> Forms</span></a></li>
                        <li><a class="ajax-link" href="chart.html"><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                        </li>
                        <li><a class="ajax-link" href="typography.html"><i class="glyphicon glyphicon-font"></i><span> Typography</span></a>
                        </li>
                        <li><a class="ajax-link" href="gallery.html"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a>
                        </li>
                        <li class="nav-header hidden-md">Sample Section</li>
                        <li><a class="ajax-link" href="table.html"><i
                                    class="glyphicon glyphicon-align-justify"></i><span> Tables</span></a></li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Accordion Menu</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Child Menu 1</a></li>
                                <li><a href="#">Child Menu 2</a></li>
                            </ul>
                        </li>
                        <li><a class="ajax-link" href="calendar.html"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                        </li>
                        <li><a class="ajax-link" href="grid.html"><i
                                    class="glyphicon glyphicon-th"></i><span> Grid</span></a></li>
                        <li><a href="tour.html"><i class="glyphicon glyphicon-globe"></i><span> Tour</span></a></li>
                        <li><a class="ajax-link" href="icon.html"><i
                                    class="glyphicon glyphicon-star"></i><span> Icons</span></a></li>
                        <li><a href="error.html"><i class="glyphicon glyphicon-ban-circle"></i><span> Error Page</span></a>
                        </li>
                        <li><a href="login.html"><i class="glyphicon glyphicon-lock"></i><span> Login Page</span></a>
                        </li>
                    </ul>
                    <label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
                </div>
            </div>
        </div>
        <!--/span-->
      {% endblock %}</div>

      <div class="row">

      {% block innerbox %}


      {% endblock %}
    </div>
</body>

{% endblock %}